/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
/* hack to make images flexible in our prototype */
div img {
	width: 100%;
	max-width: 250px;
}
.bgyellow {
	background-color: #ffc;
}
.bgpurple {
	background-color: #ccf;
}
.bgpink {
	background-color: #fcf;
}
.bgblue {
	background-color: #cff;
}

/* grid system */
/* mobile first */
.wrapper {
	width: 97%;
	max-width: 1200px;
  background-color: #fff;
  display: grid;
  grid-gap: 10px;
  margin: 10px auto;
}

/* Mobile Landscape Screen Sizes */
@media screen and (min-width: 480px) {
  .wrapper {
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(4, 1fr);
  }
  /* row 1 */
	.c1r1 {
    /* grid-row: 1/2; */
    grid-column: 1/ span 2;
  }
  .c2r1 {
    /* grid-row: 1/2; */
    grid-column: 3/ span 2;
  }
  .c3r1 {
    /* grid-row: 2/3; */
    grid-column: 1/ span 2;
  }
  .c4r1 {
    /* grid-row: 2/3; */
    grid-column: 3/ span 2;
  }

  /* row2 */
  .c1r2 {
    /* grid-row: 3/4; */
    grid-column: 1/ span 2;
  }
  .c2r2 {
    /* grid-row: 3/4; */
    grid-column: 3/ span 2;
  }

  /* row3 */
  .c1r3 {
    /* grid-row: 4/5; */
    grid-column: 1/ span 4;
  }
  .c2r3 {
    /* grid-row: 5/6; */
    grid-column: 1/ span 4;
  }

  /* row4 */
  .c1r4 {
    /* grid-row: 6/7; */
    grid-column: 1/ span 4;
  }

  /* row5 */
  .c1r5 {
    /* grid-row: 8/9; */
    grid-column: 1/ span 2;
  }
  .c2r5 {
    grid-row: 7/8;
    grid-column: 1/ span 4;
  }
  .c3r5 {
    /* grid-row: 8/9; */
    grid-column: 3/ span 2;
  }
}

/* Desktop screen Sizes */
@media screen and (min-width:769px) {
  /* row1 */
.c1r1 {
    /* flex: 0 0 44%; */
    /* grid-row: 1/2; */
    grid-column: 1/2;
  }
  .c2r1 {
    /* grid-row: 1/2; */
    grid-column: 2/3;
  }
  .c3r1 {
    /* grid-row: 1/2; */
    grid-column: 3/4;
  }
  .c4r1 {
    /* grid-row: 1/2; */
    grid-column: 4/5;
  }

  /* row2 */
  /* .c1r2,
  .c2r2 {
     grid-row: 2/3;
  } */

  /* row3 */
  .c1r3 {
    /* grid-row: 3/4; */
    grid-column: 1/ 2;
  }
  .c2r3 {
    /* grid-row: 3/4; */
    grid-column: 2/ span 3;
  }

  /* row4 */
  /* .c1r4 {
    grid-row: 4/5;
  } */

  /* row5 */
  .c1r5 {
    /* grid-row: 5/6; */
    grid-column: 1/2;
  }
  .c2r5 {
    grid-row: 5/6;
    grid-column: 2/ span 2;
  }

  .c3r5 {
    /* grid-row: 5/6; */
    grid-column: 4/5;
  }
}
